*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height:100vh;
  
}
.display-area{
  display: flex;
  flex-direction: row
}

.Pictures{
  border: 2px solid pink;
  background-color: rgb(230, 217, 243);
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: row
}
.Board{
  border: 2px solid lightblue;
  background-color: rgb(230, 235, 247);
  width: 50%;
}

.single-image{
  height: 50px;
  padding: 1em;
}